

.page-transition {
  width: 100%;
}

.page-transition.fadeIn {
    animation: blurSubtleIn 0.4s ease-out forwards;

}

.page-transition.fadeOut {
  animation: blurSubtleOut 0.3s ease-in forwards;


}

@keyframes blurSubtleIn {
  from {
    opacity: 0;
    filter: blur(5px) brightness(1.1);
  }
  to {
    opacity: 1;
    filter: blur(0) brightness(1);
  }
}

@keyframes blurSubtleOut {
  from {
    opacity: 1;
    filter: blur(0) brightness(1);
  }
  to {
    opacity: 0;
    filter: blur(5px) brightness(1.1);
  }
}


  .page-transition.fadeIn {
    animation-duration: 0.3s;
  }
  
  .page-transition.fadeOut {
    animation-duration: 0.2s;
  }
